@import "tailwindcss";

:root {
  --background:#000E14;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --font-league: var(--font-league-spartan);
    --font-sofia: var(--font-sofia-Sans-Semi-Condensed)
}


body {

  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sofia);
}
body::selection{
    color: var(--foreground);
    background: var(--background);
}